<div class="form-field-label">
  <ng-content select="label" />
  <ng-content select="[slot=label-extra], [slot=label-action]" />
</div>

<div class="form-field-control">
  <ng-content
    select="[formField], input, textarea, select, button, ms-autocomplete, ms-select, ms-button-toggle-group, ms-slider, .form-field-prefix, .form-field-suffix, .form-field-action"
  />
</div>

<div class="form-field-message">
  @if (showError()) {
    <ng-content select="ms-error" />
  } @else if (showHint()) {
    <ng-content select="ms-hint" />
  }
</div>
