:root {
  /* Neutral color scale */
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f1f1f1;
  --color-neutral-200: #cccccc;
  --color-neutral-300: #9d9d9d;
  --color-neutral-400: #5f5f5f;
  --color-neutral-500: #3c3c3c;
  --color-neutral-600: #313131;
  --color-neutral-700: #2b2b2b;
  --color-neutral-800: #1f1f1f;
  --color-neutral-900: #181818;
}
